# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# renv files
.Renviron
renv/

# produced vignettes
vignettes/*.html
vignettes/*.pdf
.Rproj.user

# File gen artefacts
*.html
*.pdf
